body {
    background-image: url('/images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    max-width: 700px;
}

.form-group {
    align: left;
}

.panel {
    font-size: 16px;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    font-size: 24px;
    margin: auto;
}

.allmessage {
    text-align: right;
    margin: 0 0 20px;
}

.form-control {
    resize: none;
}

.panel-footer {
    text-align: right;
}

.navbar-inverse .navbar-text {
    color: white;
}

.comment {
    overflow: hidden;
    height: 90px;
}

a, a:visited {
    text-decoration: none;
    color: blue;
}

.redirect {
    text-align: center;
    font-size: 24px;
    margin: auto;
}

.alert {
    display: none;
}

.hidden {
    visibility: hidden;
}

.hideText {
    transition: 0.5s;
    max-height: 40px;
    overflow: hidden;
}

.showText {
    max-height: 200px;
    transition: 2s;
}