<!--header-->
<!DOCTYPE html PUBLIC "-W3CDTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head lang="en">
    <title>My Guest Book</title>
    <meta charset="utf-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="/css/style.css" type="text/css"/>

</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand navbar-text">MY GUEST BOOK</div>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <?php

            $auth = new \Framework\Auth();

            if(null !== $auth->getIdentity()):

                ?>
                <li><p class='navbar-text'>  <?="Hello," . $auth->getIdentity()['username']?> </p></li>";

                }

            <?php endif;?>
            <li><a href="logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>

    </div>
</nav>
<!--/header-->

<?= $content ?>


<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/script.js"></script>
</body>
</html>