<div class="container">
    <div class="well">
        <form method="post" action="register/run">
            <div class="row">
                <div class="alert alert-danger"></div>
            </div>
            <div class="form-group">
                <label for="name">Login:</label>
                <input type="text" class="form-control" name="login" placeholder="Enter your login">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" class="form-control" name="email" placeholder="Enter your email">
            </div>
            <div class="form-group">
                <label for="pass">Password:</label>
                <input type="password" class="form-control" name="pass" placeholder="Enter your password">
            </div>
            <div class="form-group">
                <label for="r_pass">Repeat Password:</label>
                <input type="password" class="form-control" name="r_pass" placeholder="Repeat your password">
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-block btn-primary" id="register">
                    <i class="glyphicon glyphicon-user"></i> Register
                </button>
            </div>
    </div>
    </form>
</div>