<?php
$auth = new \Framework\Auth();
?>
<div class="container">
    <div class="form well">
        <form class="form-horizontal" action="messages/add" method="post" enctype=multipart/form-data id="formsend">
            <div class="form-group">
                <label class="control-label col-xs-1" for="user_name">Login:</label>
                <div class="col-xs-11" >
                    <div class="form-control-static" id="user_name"><?= $auth->getIdentity()['username'] ?></div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-1" for="email">Email:</label>
                <div class="col-xs-11" >
                    <div class="form-control-static" id="email"><?= $auth->getIdentity()['useremail'] ?></div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="comment">Comment:</label>
                <textarea class="form-control" rows="8" name="comment" id="msg"></textarea>
            </div>
            <div>
                <input type="file" name="fileToUpload" id="fileToUpload" class="pull-left">
                <button type="submit" class="pull-right btn btn-primary add">
                    <i class="glyphicon glyphicon-comment"></i> Add
                </button>
                <br/>
            </div>
        </form>
    </div>

    <div class="allmessage">
        <button class="btn btn-primary" type="button">
            Message count: <span class="badge">0</span>
        </button>
    </div>
    <div class="sms" id="sms">

        <?php

        $data = $this->data;
        if (!empty($data)) {
            foreach ($data as $key => $row) {
                $login = $row['name'];
                $email = $row['email'];
                $msg = $row['comment'];
                $time = $row['date'];
                $comment_id = $row['com_id'];
                $file = $row['image'];

                $commentTextClass = (strlen($msg) > 100) ? 'hideText' : '';
                $hide = (strlen($msg) > 100) ? '' : 'hidden';

                ?>
                <div class="panel panel-default ">
                    <div class="panel-heading ">
                        <b class="comment" id="<?= $comment_id?>">#<?= $comment_id . " " . $login ?></b>
                        <b class="pull-right"><?= $time ?></b>
                    </div>
                    <div class="panel-body commentText <?=$commentTextClass?>">
                        <?php if (!empty($file)): ?>
                            <img class="pull-left" width="128px" height="auto" src="<?= "uploads/$file" ?>">
                        <?php endif; ?>
                        <?= $msg ?>
                    </div>
                    <div class="panel-footer">
                        <button type='submit' class='btn btn-primary showMore pull-left '<?= $hide ?>>Show More...</button>
                        <button type="button" class="btn btn-primary delete" data-toggle="modal" data-target="#myModal">
                            <i class="glyphicon glyphicon-remove"></i> Delete
                        </button>
                    </div>
                </div>
                <?php
            }

        } else {
            ?>
            <div class="alert alert-danger" role="alert">
                <a href="#" class="close" data-dismiss="alert" aria-label="Close">&times;</a>0 Results
            </div>
            <?php
        };
        ?>

    </div>
    <!--    Pagination-->
    <div class="text-center">
        <ul class="pagination">
            <li class="disabled"><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>
</div>
<!--/Pagination-->
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Delete Comment</h4>
            </div>
            <div class="modal-body">
                <img src="/images/delete.png" height="42" width="42" hspace="10"> Are you sure want to
                delete this
                comment?
            </div>
            <div class="modal-footer">
                <button type="button" class="del btn btn-primary" data-dismiss="modal">Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--/Modal -->